.box {
    width: 260px;
    height: 14.6875em;
    border: 2px 10%;
    border-radius: 10px;
    background-color: rgba(96, 31, 109, 0.5);
}

.botao {
    padding: 5px;
    width: 110px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    background-color: rgba(234, 150, 255, 0.2);
}
  
.botao:hover {
    cursor: pointer;
    background-color: rgba(230, 132, 255, 0.454);
}
  
.botao:active {
    padding: 5px;
    width: 110px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    background-color: rgba(114, 13, 139, 0.34);
}

.botao1 {
    opacity: 1;
    position:relative;
    top: 1em;
    left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 2em;
    height: 2em;
    border-radius: 10px;
    font-size: 11px;
    color: white;
}
  
.botao1:hover {
    cursor: pointer;
}

.redefinir {
    margin-top: 10px;
}

.email{
    margin-top: 1.5em;
}

.botoes{
    margin-top: 1.3em;

}

.voltar{
    width: 2em;
}

.link{
    height: 22px;
}

.redefinirSenha{
    padding-top:30px;
}