.box {
    display: flex;
    width: 260px;
    height: 14.6875em;
    border: 2px 10%;
    border-radius: 10px;
    background-color: rgba(96, 31, 109, 0.5);
    align-items: center; 
    justify-content: center;
}

.box h3{
    margin-bottom: 0.5em;
}
.box p{
    font-size: 12px;
}
.paragrafo{
    margin:auto;
    width: 80%;
}

.botao {
    display: inline-block;
}

    
.textoRetornar:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}

.email{
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 75%;
}

.botoes{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    width: 70%;
}

.voltar{
    width: 2em;
}

.textoBotao{
    padding: 5px;
    width: 110px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    background-color: rgba(234, 150, 255, 0.2);
    position: relative;
    /* right: 10px; */

}

.textoBotao:hover{
    cursor: pointer;
    padding: 5px;
    width: 110px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    background-color:rgba(114, 13, 139, 0.34);
    position: relative;
    /* right: 10px; */
}

.link{
    cursor: pointer;
}