.homepage{
    position: relative;
    top: 5em
}

.cartasContainer {
}

.cartas {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.carta{

}

.texto {
    font-weight: bold !important;
}

h2 {
    text-align: left;
    margin-bottom: 1em;
}