.homepage{
    position: relative;
    top: 10em;
}

.cardCarrossel {
    margin-top: 1em;
}

.cartas .card {
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.cartas .card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cartas {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.cartas img {
    width: min(500px, 100%);
    object-fit: contain;
}

.texto {
    font-weight: bold !important;
}

h4 {
    text-align: left;
    margin-bottom: 1em;
    margin-top:1em;
    color: indigo;
}

.cartacorpo{
    height: 10em;

}