.homepage{
    position: relative;
    top: 6.5em;
}

.cartas {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.carta{

}

.texto {
    font-weight: bold !important;
}

h4 {
    text-align: left;
    margin-bottom: 1em;
    color: indigo;
}